name: Machine Learning CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas

      - name: Check Directory Structure
        run: |
          echo "Daftar folder utama:"
          ls -R
          
      - name: Run MLflow Project
        run: |
          # Perintah ini akan mencoba masuk ke folder MLProject jika ada
          if [ -d "MLProject" ]; then
            cd MLProject
            mlflow run . --no-conda
          else
            echo "Error: Folder MLProject tidak ditemukan di root!"
            exit 1
          fi
