name: Machine Learning CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Install dependencies
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas

      - name: Run MLflow Project
        run: |
          cd MLProject
          # Ganti --no-conda dengan --env-manager local
          mlflow run . --env-manager local
